---
layout: default
title: 首页 | Ouhsub
---

<div class="main-container">
  <h1 class="main-title">最新文章</h1>
  <div>
    <ul>
      {% for category in site.categories %}
      {% if category[0] == 'blog' %}
      {% assign pages_list = category[1] %}
      {% for node in pages_list limit:10 %}
      <li class="article-item">
        <div class="article-title-container">
          <div>
            <a href="{{ BASE_PATH }}{{node.url}}">
              <h2 class="article-title-text">{{ node.title }}</h2>
              <p class="article-excerpt">{{ node.excerpt }}</p>
            </a>
          </div>
        </div>
        <div class="article-info-container">
          <p>{{ node.date | date_to_string }}</p>
          <p>
            {% for cate in node.categories %}
            {% if cate != 'blog' %}
            <a href="{{ BASE_PATH }}/blog/{{ cate }}">{{ cate }}</a>
            {% endif %}
            {% endfor %}
          </p>
          <p>
            {% for tag in node.tags %}
            <a href="{{ BASE_PATH }}/tag?target={{tag}}">{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
      </li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
