/* 属性初始化 */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* 页面布局 */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #fff;
}
main {
  margin-top: 80px;
  overflow: hidden;
}
.timeline {
  width: 100%;
  height: 400px;
  background-color: #eee;
}
.slider {
  width: 100%;
  height: 300px;
  background-color: #eee;
}
.main-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.article-container {
  display: inline-block;
  width: 100%;
  margin-left: -280px;
  height: 1000px;
}
.article-container>div {
  padding-left: 280px;
}
.siderbar {
  float: right;
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 1000px;
  margin-left: 10px;
}
.gotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
footer {
  overflow: hidden;
  background-color: #efe;
}
.footer-container {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  header {
    height: 40px;
  }
  main {
    margin-top: 40px;
  }
  .article-container {
    display: inline-block;
    width: 100%;
    margin-left: 0;
  }
  .article-container>div {
    padding-left: 0;
  }
  .siderbar {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 40px;
    height: 40px;
    margin: 0;
  }
}
